<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ai Assited Guest Review sentiment classifier</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <!-- This contains the NavBar -->
  <header>
    <nav class="navbar">
      <div class="logo">Ai Assited Guest Review sentiment classifier</div>

      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login">Login</a></li>
        <li><button id="theme-switcher" class="theme-btn">🌙 Dark Mode</button></li>
      </ul>
    </nav>
  </header>
  <!-- All the main content of the website is contained in this section. This includes the welcome message, information about the sentiment classifier, and other relevent details -->
  <main>
    <div class="hero">
      <h2>Welcome to the Ai Assited Guest Review sentiment classifer!</h2>
      <p>
        This project is designed to analyse guest review sentiments using
        advanced AI techiques. Our goal is to provide insights into customer
        feedback helping buisnesses improve their services and enhance
        customer satisfaction. Explore our website to learn more about how our
        sentiment classifier works and how ir can benfit your buisness.
      </p>
      <a href="description.html"><button>Learn More</button></a>
    </div>
    <!-- cards -->
    <div class="cards">
      <div class="card">
        <h3>How It Works</h3>
        <p>
          Our sentiment classifier uses advanced AI techniques to analyze
          guest reviews and determine their sentiment.
        </p>
      </div>
      <div class="card">
        <h3>Benefits</h3>
        <p>
          Improve customer satisfaction and enhance your business services
          with actionable insights from guest feedback.
        </p>
      </div>
      <div class="card">
        <h3>Features</h3>
        <p>
          Our sentiment classifier offers a range of features including real-time analysis, customizable
          dashboards, and detalied reporting to help you understand your customer feedback better.
        </p>
      </div>
  </main>
  <!-- Footer -->
  <footer>
    2026 Ai Assited Guest Review sentiment classifier
    <a href="/frontend/privacy.html">Privacy Policy </a>
    <a href="/frontend/contact.html">Contact </a>
  </footer>
</body>
<script src="/static/theme.js"></script>

</html>